<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.borrow.mapper.BorrowDtlMapper">

    <insert id="insertBatchBorrowDtlList" parameterType="java.util.List">
        insert into p2p_borrow_dtl
        (
            borrow_id,
            invest_biz_id,
            invest_order_sn,
            trade_amt,
            match_share,
            customer_id,
            customer_name,
            customer_id_card,
            customer_bank_id,
            bank_code,
            base_bank_name,
            bank_account,
            phone,
            create_time,
            update_time,
            creator,
            reviser,
            logic_state,
            biz_state
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.borrowId},
            #{item.investBizId},
            #{item.investOrderSn},
            #{item.tradeAmt},
            #{item.matchShare},
            #{item.customerId},
            #{item.customerName},
            #{item.customerIdCard},
            #{item.customerBankId},
            #{item.bankCode},
            #{item.baseBankName},
            #{item.bankAccount},
            #{item.phone},
            #{item.createTime},
            #{item.updateTime},
            #{item.creator},
            #{item.reviser},
            #{item.logicState},
            #{item.bizState}
            )
        </foreach>
    </insert>

</mapper>