<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.borrow.mapper.DebtDateValueMapper">

  <select id="querySumDebtAndReturnByBorrowIdList"  resultType="java.util.HashMap">
    select sum(ddv.value) sumValue,sum(ddv.return_amt) sumReturnAmt
    from p2p_debt_date_value ddv where ddv.borrow_id in (
      <foreach collection="borrowIdList"  item="id" index="index" separator=",">
          #{id}
      </foreach>
      )
    and ddv.daily=str_to_date(#{daily},'%Y-%m-%d')
  </select>

</mapper>