<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
    <title>添加银行页面</title>
</head>
<body>
<!--
<div id="addBankDialog" class="easyui-dialog" title="【添加银行】"
     draggable="false" data-options="modal:true,noheader: true," style="width:300px">
-->
    <form method="post" id="addBankForm">
         <span  style="display:none;" >
              <input name="customerId" id="customerId" class="easyui-textbox" style="width:50px"/>
        </span>
        <table id="addBankTable" cellspacing="20">
            <tr>
                <td>开户银行：</td>
                <td><input class="easyui-combobox" name="bankCode" style="width:150px"
                           data-options="url:'/payment/getAllBaseBankList',textField:'name',valueField:'bankCode',method:'get',"/></td>
            </tr>
            <tr>
                <td>银行名称：</td>
                <td><input type="text" name="bankAccount" id="bankAccount" class="easyui-textbox" style="width:150px"/></td>
            </tr>
            <tr>
                <td>绑定手机号：</td>
                <td><input type="text" name="phone" id="phone" class="easyui-textbox" style="width:150px"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="addBank()">添加银行</a>
                </td>
            </tr>
        </table>
    </form>
<!--
</div>
-->
</body>
</html>