<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.account.mapper.DebtSubAccFlowMapper">

    <insert id="insertBatchDebtSubAccFlow" parameterType="java.util.List">
        insert into p2p_debt_sub_acc_flow
        (
        debt_sub_id,
        customer_id,
        biz_id,
        order_sn,
        amount,
        remark,
        create_time,
        update_time,
        creator,
        reviser,
        logic_state,
        biz_state
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.debtSubId},
            #{item.customerId},
            #{item.bizId},
            #{item.orderSn},
            #{item.amount},
            #{item.remark},
            #{item.createTime},
            #{item.updateTime},
            #{item.creator},
            #{item.reviser},
            #{item.logicState},
            #{item.bizState}
            )
        </foreach>
    </insert>

</mapper>