<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
    <title>操作页面</title>
</head>
<body>

<div th:fragment="productDiv">
    <div id="productDialog" class="easyui-dialog" title="【投资产品列表】"
         draggable="false" data-options="modal:true,closed:true" style="display:none;">
        <table id="productTable" style="width:300px" cellspacing="5">
        </table>
    </div>

    <div id="planPayDialog" class="easyui-dialog" title="【准备支付】"
         draggable="false" data-options="modal:true,closed:true" style="display:none;">
        <span style="display:none;" >
            <!--银行卡列表使用customerId-->
            客户编号<input id="customerId" class="easyui-textbox" style="width:50px"/>
            投资产品编号<input id="productId" name="investProductId" class="easyui-textbox" style="width:50px"/>
         </span>
         <form method="post" id="planPayForm">
            <span style="display:none;" >

                     客户编号<input id="pCustomerId"  name="customerId" class="easyui-textbox" style="width:50px"/>
                     投资产品编号<input id="investProductId" name="investProductId" class="easyui-textbox" style="width:50px"/>
                     投资天数<input name="dayCount" id="dayCount" class="easyui-textbox" style="width:50px"/>
                 <!--提交表单时使用该字段，保存选中使用具体的银行卡-->
                      客户银行卡编号<input name="customerBankId" id="customerBankId" class="easyui-textbox" style="width:50px"/>
             </span>
            <table id="planPayTable" style="width:600px" cellspacing="10">
                <tr>
                    <td colspan="2" align="right">
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="backProductDialog()">返回【投资产品列表】</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>产品：<input type="text" name="name" class="easyui-textbox"  style="width:100px" data-options="readonly:true"/></td>
                    <td>年化收益率：<input type="text" name="yearIrr" id="yearIrr" class="easyui-textbox" style="width:50px"
                                     data-options="readonly:true"/></td>
                </tr>
                <tr>
                    <td colspan="2">
                        投资金额：￥<input type="text" id="investAmt" name="investAmt" class="easyui-numberbox"
                                     data-options="required:true,min:0,precision:2,decimalSeparator:'.',validType:'calculateProfit'"
                                     style="width:200px"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        参考回报：￥<input type="text" id="profit" name="profit" class="easyui-textbox"
                                     style="width:200px" data-options="readonly:true"/>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <b>选择支付银行</b>
                    </td>
                    <td colspan="2" align="right">
                        <a class="easyui-linkbutton" onclick="openAddBank()">添加银行卡</a>
                    </td>
                </tr>
            </table>
            <!--银行卡列表-->
            <table id="banksTable" title="银行卡列表">
            </table>
            <div style="text-align:center;padding:5px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitLend()">立即出借</a>
            </div>
        </form>
    </div>

    <!--打开添加银行页面-->
    <div id="openAddBankDialog" class="easyui-dialog"
         draggable="false" data-options="modal:true,closed:true" style="display:none;">
        <form method="post" id="addBankForm">
            <span  style="display:none;" >
            <!--银行卡列表使用customerId-->
                <input id="oCustomerId" name="customerId" class="easyui-textbox" style="width:50px"/>
                <input id="baseBankName" name="baseBankName" class="easyui-textbox" style="width:50px"/>
            </span>
             <table cellspacing="20">
                 <tr>
                     <td>姓名：</td>
                     <td><input type="text" id="crmName" name="crmName" class="easyui-textbox" style="width:150px"
                                data-options="readonly:true"/></td>
                 </tr>
                 <tr>
                     <td>身份证号码：</td>
                     <td><input type="text" id="crmIdCard" name="crmIdCard" class="easyui-textbox" style="width:150px"
                          data-options="readonly:true"/></td>
                 </tr>
                 <tr>
                     <td>开户银行：</td>
                     <td><input class="easyui-combobox" id="bankCode" name="bankCode" style="width:150px"
                                data-options="required:true,url:'/payment/getAllBaseBankList',textField:'name',valueField:'bankCode',method:'get',"/></td>
                 </tr>
                 <tr>
                     <td>账户号码：</td>
                     <td><input type="text" name="bankAccount" id="bankAccount" class="easyui-numberbox"
                                data-options="required:true" style="width:150px"/></td>
                 </tr>
                 <tr>
                     <td>绑定手机号：</td>
                     <td><input type="text" name="phone" id="phone" class="easyui-numberbox"
                                data-options="required:true,validType:'length[11,11]'" style="width:150px"/></td>
                 </tr>
                 <tr>
                     <td colspan="2" align="center">
                         <a href="javascript:void(0)" class="easyui-linkbutton" onclick="addBank()">添加银行</a>
                     </td>
                 </tr>
             </table>
         </form>

     </div>

    <!--网关支付-->
    <div id="gatewayDialog"></div>

     <script type="text/javascript" th:inline="none">
         //投资产品列表
         $("#productTable").datalist({
             lines : true,
             groupField: 'group',
             url : "/invest/getAllInvestProductJSON"
         });

         //validatebox 自定义校验
         $.extend($.fn.validatebox.defaults.rules,{
             //计算参考回报
             calculateProfit:{
                 validator : function(value) {
                     //计算【准备支付】页面“参考回报”
                     var investAmtNum = new Number(value).toFixed(2);
                     var yearIrr = $("#yearIrr").textbox("getValue");
                     var yearIrrNum = parseFloat(yearIrr);
                     var dayCount = $("#dayCount").textbox("getValue");
                     var dayCountNum = new Number(dayCount);
                     var dayAmtNum = new Number((investAmtNum *yearIrrNum/365)).toFixed(2);
                     var resultVal = new Number(dayAmtNum * dayCountNum).toFixed(2);
                     $("#profit").textbox("setValue",resultVal);
                     return true;
                 },
                 message : '根据“投资金额”计算“参考回报”'
             }
         });

         //调用方法openLend写在java代码中，InvestController.getAllInvestProductJSON
        function openLend(productId){
            //关闭投资产品列表
            $("#productDialog").dialog("close");
            $("#productId").textbox("setValue",productId);
            var dataParams =  {"investProductId":productId};
            ajaxModifyOpen(dataParams,'planPayForm','planPayDialog','post','/invest/getInvestProductById');
            $("#planPayDialog").dialog("open");
            $("#planPayDialog").window('center');//使Dialog居中显示
            //银行卡列表
            getBanks();
        }
         //银行卡列表
         function getBanks(){
             $("#banksTable").datagrid({
                 idField : 'id',//有idField保证了翻页选中不丢失
                 fitColumns:true,//使列自动展开/折叠以适应数据网格（datagrid）的宽度
                 rownumbers:true,
                 width: 600,
                 singleSelect:true,
                 striped:true,//隔行变色
                 url:'/payment/getCustomerBankListByCustomerId',
                 queryParams: {
                     customerId : $("#customerId").textbox("getValue")
                 },
                 columns : [[
                     {field:'ck',checkbox:true,width:50},
                     {field:'id',title:'编号',width:50},
                     {field:'baseBankName',title:'银行名称',width:150},
                     {field:'bankAccount',title:'银行账户',width:150},
                     {field:'phone',title:'绑定手机号',width:150}
                 ]]
             });
         }

        //返回【投资产品列表】页面
        function backProductDialog(){
            $("#planPayDialog").dialog("close");
            $("#productDialog").dialog("open");
            $("#productDialog").window('center');//使Dialog居中显示
        }

        //【立即出借】按钮
         function submitLend(){
             var isValid = $("#planPayForm").form("validate");
             if(isValid){
                 $("#investProductId").textbox("setValue",$("#productId").textbox("getValue"));
                 $("#pCustomerId").textbox("setValue",$("#customerId").textbox("getValue"));
                 //添加验证是否选中银行功能
                 var bankArr = $("#banksTable").datagrid('getSelections');
                 if(bankArr.length != 1){
                     messger_show_center('提示信息','请选择一条银行卡');
                 }else{
                     $("#customerBankId").textbox("setValue",bankArr[0].id);
                     $.ajax({
                         type: 'post',
                         url : '/invest/lend',
                         data: $("#planPayForm").serialize(),
                         dataType : 'json',
                         cache : false,
                         success:function(result){
                             if(result.status == 'ok'){
                                 openGateway(result.target);
                                 $("#planPayDialog").dialog("close");
                                 $("#planPayForm").form('reset');
                                 $("#banksTable").datagrid('clearSelections');
                             }else{
                                 messger_show_center('错误信息',result.selfMsg);
                             }
                         }
                     });
                 }
             }
         }

        //打开【添加银行】页面
         function openAddBank(){
             var customerId = $("#customerId").textbox("getValue");
             //查询并这是客户姓名和身份证号
             $.getJSON("/crm/getById?crmId="+customerId,
                 function(data){
                     $("#crmName").textbox("setValue",data.name);
                     $("#crmIdCard").textbox("setValue",data.idCard);
             });
             $("#openAddBankDialog").dialog({
                 title : '【添加银行】',
                 width: 400,
                 height: 400,
                 closed: false,
                 collapsible: false,
                 minimizable: false,
                 maximizable: false,
                 cache: false,
                 modal: true
             });
             $("#oCustomerId").textbox("setValue",customerId);
             $("#openAddBankDialog").dialog("open");
             $("#openAddBankDialog").window('center');//使Dialog居中显示
         }

         //添加银行
         function addBank(){
            $("#baseBankName").textbox("setValue",$('#bankCode').combobox("getText"));//???
            var isValid = $("#addBankForm").form("validate");//表单验证
            if(isValid){
                $.ajax({
                    type: 'post',
                    url : '/payment/addCustomerBank',
                    data: $("#addBankForm").serialize(),
                    dataType : 'json',
                    cache : false,
                    success:function(result){
                        if(result.status == 'ok'){
                            messger_show_center('提示信息','添加客户银行卡成功！');
                        }else{
                            messger_show_center('错误信息',result.selfMsg);
                        }
                        $("#addBankForm").form('reset');
                        //刷新银行卡列表
                        $("#banksTable").datagrid('clearChecked');
                        $("#banksTable").datagrid('reload');
                        $("#openAddBankDialog").dialog("close");
                    }
                });
            }
         }

         //打开网关支付iframe
         function openGateway(url){
             window.open(url,"支付",
                "fullscreen=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no,width=600,height=800,left=100,top=100");
         }

         function closeGateway(){
             $("#planPayDialog").dialog("close");
             $("#gatewayDialog").dialog("close");
         }


     </script>
 </div>
 </body>
 </html>