<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.match.mapper.FinanceMatchReqMapper">

    <!--useGeneratedKeys="true" keyProperty="id" 批量插入并返回主键-->
    <insert id="insertBatchFinanceMatchReqList" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        insert into p2p_finance_match_req
        (
        finance_customer_id,
        finance_customer_name,
        finance_biz_id,
        finance_order_sn,
        finance_amt,
        wait_amt,
        level,
        borrow_product_id,
        borrow_product_name,
        borrow_year_rate,
        type,
        remark,
        create_time,
        update_time,
        creator,
        reviser,
        logic_state,
        biz_state
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.financeCustomerId},
            #{item.financeCustomerName},
            #{item.financeBizId},
            #{item.financeOrderSn},
            #{item.financeAmt},
            #{item.waitAmt},
            #{item.level},
            #{item.borrowProductId},
            #{item.borrowProductName},
            #{item.borrowYearRate},
            #{item.type},
            #{item.remark},
            #{item.createTime},
            #{item.updateTime},
            #{item.creator},
            #{item.reviser},
            #{item.logicState},
            #{item.bizState}
            )
        </foreach>
    </insert>

</mapper>