<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.invest.mapper.InvestMapper">

    <sql id="investField">
        a.id,a.invest_product_id,a.customer_bank_id,a.customer_id,a.invest_amt,a.profit,a.start_date,a.end_date,
        a.create_time,a.update_time,a.creator,a.reviser,a.logic_state,a.biz_state,
        a.invest_product_name,a.invest_year_irr,a.invest_day_count,a.invest_type
    </sql>

    <sql id="investCondition">
        <if test="invest != null">
            <if test="invest.customerId">
                and a.customer_id = #{invest.customerId}
            </if>
        </if>
    </sql>

    <select id="queryInvestListByPagination" resultType="Invest">
      select <include refid="investField"/>
        from p2p_invest a
        inner join p2p_invest_product ip
        on a.invest_product_id=ip.id
        where 1=1
        <include refid="investCondition"/>
        order by a.id desc
        <if test="offset > 0 and limit != null">
            limit #{offset},#{limit}
        </if>
        <if test="offset == 0 and limit != null">
            limit #{limit}
        </if>
    </select>

    <select id="queryInvestCount" resultType="Integer">
      select count(a.id) from p2p_invest a
      where 1=1
      <include refid="investCondition"/>
    </select>

    <select id="querySumInvestAmt" resultType="java.math.BigDecimal">
       select sum(i.invest_amt) sum_invest_amt from p2p_invest i where i.customer_id=#{customerId}
    </select>

</mapper>