<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.p2p.ds.invest.mapper.InvestMapper">

    <sql id="investField">
        a.id,a.invest_product_id,a.customer_bank_id,a.customer_id,a.invest_amt,a.profit,a.start_date,a.end_date,
        a.create_time,a.update_time,a.creator,a.reviser,a.logic_state,a.biz_state,
        ip.name as product_name,ip.year_irr,ip.day_count,ip.invest_type
    </sql>

    <sql id="investCondition">
        <if test="investVo != null">
            <if test="investVo.customerId">
                and a.customer_id = #{investVo.customerId}
            </if>
        </if>
    </sql>

    <select id="queryInvestVoListByPagination" resultType="InvestVo">
      select <include refid="investField"/>
        from p2p_invest a
        inner join p2p_invest_product ip
        on a.invest_product_id=ip.id
        where 1=1
        <include refid="investCondition"/>
        order by a.id desc
        <if test="offset > 0 and limit != null">
            limit #{offset},#{limit}
        </if>
        <if test="offset == 0 and limit != null">
            limit #{limit}
        </if>
    </select>

    <select id="queryInvestVoCount" resultType="Integer">
      select count(a.id) from p2p_invest a
      where 1=1
      <include refid="investCondition"/>
    </select>

</mapper>