<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
    <title>模拟打开【第三方支付页面】页面</title>
</head>
<body>
<!--一个未使用页面，只是iframe功能可用
<div th:fragment="thirdPayMoneyDiv">

    <div id="thirdPayMoneyDialog"></div>

    <script type="text/javascript">
        //模拟打开【第三方支付页面】页面
        function openAddBank(){
            var url = "http://localhost:9088/payment/openAdd";
            $("#thirdPayMoneyDialog").dialog({
                title : '【添加银行】',
                width: 400,
                height: 400,
                closed: false,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                cache: false,
                content: "<iframe scrolling='auto' frameborder='0'  src='" + url + "' width='100%' height='99%' ></iframe>",
                modal: true
            });

            $("#thirdPayMoneyDialog").dialog("open");
            $("#thirdPayMoneyDialog").window('center');//使Dialog居中显示
        }




    </script>
    -->
</div>
</body>
</html>