<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head">
    <title>客户管理页面</title>
</head>
<body>

<table id="dg"></table>


<div id="searchDiv">
    <form id="searchForm" action="" method="post">
        编号<input class="easyui-textbox" name="id"/>
        姓名<input class="easyui-textbox" name="name"/>
        性别<select class="easyui-combobox" name="gender" style="width:120px">
        <option value="">请选择性别</option>
        <option value="1">男</option>
        <option value="0">女</option>
    </select>
        生日<input class="easyui-datebox" name="birthdayStr"/>
        身份证号码<input class="easyui-textbox" name="idCard" style="width:200px"/>
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">查询客户</a>
    </form>
</div>

<div id="mydialog" class="easyui-dialog" title="添加客户" style="width:300px;display:none;" draggable="false"
    data-options="modal:true,closed:true">
    <form id="myForm" action="" method="post">
        <span  style="display:none;" ><input name="id" class="easyui-textbox" data-options="hidden:true" /></span>
        <table>
            <tr>
                <td>姓名</td>
                <td><input type="text" name="name" class="easyui-textbox" data-options="required:true" style="width:200px"/></td>
            </tr>
            <tr>
                <td>性别</td>
                <td>
                   <select class="easyui-combobox" name="gender" data-options="required:true" style="width:200px">
                       <option value="1">男</option>
                       <option value="0">女</option>
                   </select>
                </td>
            </tr>
            <tr>
                <td>生日</td>
                <td><input id="birthdayAdd" type="text" name="birthdayStr"  class="easyui-datebox" data-options="required:true" style="width:200px"/></td>
            </tr>
            <tr>
                <td>身份证号码</td>
                <td><input type="text" name="idCard" class="easyui-textbox" data-options="required:true,validType:'idCard'" style="width:200px"/></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <a id="btn1" class="easyui-linkbutton">保存</a>
                    <a id="btn2" class="easyui-linkbutton">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>


</body>
<script type="text/javascript">
    var flag;//添加/修改标志位
//--------------------列表功能--------------------
    $("#dg").datagrid({
        idField : 'id',//有idField保证了翻页选中不丢失
        title : '客户管理',
        width: 1200,
        url : "/crm/list",
        fitColumns:true,
        rownumbers:true,
        striped:true,//隔行变色
        toolbar : [{
            text:'添加客户',
            iconCls : 'icon-add',
            handler : function(){
                flag = "add";//添加/修改标志位
                $("#myForm").form('reset');
                $("#mydialog").dialog({
                    id:'mydialog',
                    title : '添加客户'
                });
                $("#mydialog").dialog("open");
            }
        },{
            text:'修改客户',
            iconCls : 'icon-edit',
            handler : function(){
                flag = "update";//添加/修改标志位
                var arr = $("#dg").datagrid('getSelections');
                if(arr.length != 1){
                    $.messager.show({
                        title : '提示信息',
                        msg:'只能选择一行记录修改'
                    });
                }else{
                    $("#mydialog").dialog({
                        id:'mydialog',
                      title : '修改客户'
                    });
                    $("#mydialog").dialog("open");
                    var dataParams =  {"id":arr[0].id};
                    ajaxModifyOpen(dataParams,'myForm','mydialog','post','/crm/getById');
                }
            }
        },{
            text:'删除客户',
            iconCls : 'icon-remove',
            handler : function(){
                var arr = $("#dg").datagrid("getSelections");
                var len = arr.length;
                if(len <= 0){
                    $.messager.show({
                        title : '提示信息',
                        msg: '至少选择一行记录进行删除！'
                    });
                }  else{
                    $.messager.confirm('提示信息','确认删除' + len + '条数据？',function (r) {
                        if(r){
                            var idArr = [];
                            var idCardArr = [];
                            /*SpringBoot 小于号要求*/
                            for(var i = 0; i < len; i++) {
                                idArr.push(arr[i].id);
                                idCardArr.push(arr[i].idCard);
                            }
                            var params = {"idArr" : idArr,"idCardArr":idCardArr};
                            var ps = $.param(params, true);//将参数序列化后再传到后台，要不然后台始终是接收不到我们传递的数据的
                           postDelete(ps,'/crm/delete','dg');
                        }
                    });
                }
            }
        }],
        columns : [[
            {field:'ck',checkbox:true,width:50},
            {field:'id',title:'编号',width:50},
            {field:'name',title:'姓名',width:100},
            {field:'gender',title:'性别',width:100,
                formatter:function(value){
                    return genderStr(value);
                }
            },
            {field:'birthday',title:'生日',width:100,
                formatter:function(value){
                    return dateStr(value);
                }
            },
            {field:'idCard',title:'身份证号码',width:200},
            {field:'createTime',title:'创建时间',width:150,
                formatter:function(value){
                    return dateTimeStr(value);
                }
            },
            {field:'creator',title:'创建人',width:100},
            {field:'updateTime',title:'修改时间',width:150,
                formatter:function(value){
                    return dateTimeStr(value);
                }
            },
            {field:'reviser',title:'修改人',width:100}
        ]],
        loadMsg : '数据正在加载，请耐心等待……',
        pagination : true,
        pageList:[1,2,5,10,20,50]
    });

    //查询
    $('#searchDiv').appendTo('.datagrid-toolbar');

    function doSearch(){
        $("#dg").datagrid('load',datagridForm($("#searchForm")));
        $("#dg").datagrid('clearSelections');
    }

    function datagridForm(form){
        var obj = {};
        $.each(form.serializeArray(),function(index){
            obj[this['name']] = this['value'];
        });
        return obj;
    }

    //--------------------添加/修改提交表单--------------------
    $("#btn1").click(function(){
        var formObj = $("#myForm");
        if(formObj.form("validate")){
            var url = flag == "add" ? "/crm/add" : "/crm/update";
            ajaxAddUpdate('myForm','mydialog','dg','post',url);
        }else{
            $.message.show({
                title:"提示信息",
                msg:"数据验证不通过，不能保存"
            });
        }
    });
    //关闭窗口
    $("#btn2").click(function(){
        $("#mydialog").dialog("close");
    });


</script>
</html>